.Footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: #EF5350; /* red 400 */
}

.Footer .Footer__button {
  position: absolute;
  height: 100%;
  width: 50%;
  font-size: 3rem;
}

.Footer .Footer__button:active {
  background-color: #FFCDD2; /* red 100 */
}


.Footer .Footer__button--right {
  right: 0;
}
