.Footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: pink;
}

.Footer .Footer__button {
  position: absolute;
  height: 100%;
  width: 50%;
  font-size: 3rem;
}

.Footer .Footer__button:active {
  background-color: white;
}


.Footer .Footer__button--right {
  right: 0;
}
