html {
  background-color: black;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: white;
  touch-action: manipulation; /* prevent ios zoom */
}

input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}
